# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
**/bin
**/obj
**/node_modules
venv_win/
.venv_win/
venv_linux/
.venv_linux/

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Docker
.docker/

# Git
.git
.gitignore

# Local development
.env
.env.local 