# Python
**/__pycache__/
__pycache__/
*.py[cod]
*.pyc
*.class
*.so
.Python
venv/
ENV/
.env
.venv
env/
.venv_win/
venv_win/
.venv_linux/
venv_linux/
tests/*.html
tests/*.txt
tests/unit_tests/*.html
tests/unit_tests/*.txt
assets
   
# Logs
logs/
*.log
   
# Database
*.db
*.sqlite3
   
# IDE
.idea/
.vscode/
*.swp
*.swo
   
# OS
.DS_Store
Thumbs.db
   
# Project specific
config.json
   
