Flask==3.0.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.27
Werkzeug==3.0.1
WTForms==3.0.1
Flask-WTF==1.2.1
gunicorn==21.2.0
email-validator==2.1.0.post1

pytest==8.2.0
pytest-cov==5.0.0
pytest-html==4.1.1
flake8==7.0.0
pylint==3.3.1
mypy==1.10.0

python-dotenv==1.0.1
Flask-Migrate==4.0.5
alembic==1.13.1 